body{
    background-image: url('C:/Users/Swath/Downloads/Kanban-master (1)/Kanban-master/Images/1600w-afsazXR5vWo.webp');
    }
/* style.css */

/* style.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    width: 400px;
    padding: 20px;
    /*border: 1px solid #050505;*/
    border-radius: 8px;
  }
  
  .heading {
    text-align: center;
    color: #070707;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
    color: #010101;
  }
  
  .input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .button2 {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }

  .button-container {
    display: flex;
    gap: 10px; /* Adjust the gap as needed */
    justify-content: center;
  }

  .error-message {
    color: red; /* Set the text color to red */
    margin-top: 5px; /* Optional: Add some space between the input fields and the error message */
  }
  